<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/a.css' %}">
</head>
<body>
<div class="container">
<h1>ADD STUDENT DETAILS-User Defined(without using form object)</h1>
<form method="POST">
    {% csrf_token %}
<div class="form-group">
      <label >Name:</label>
      <input type="text" class="form-control" name="n">
    </div>
    <div class="form-group">
      <label>Age:</label>
      <input type="text" class="form-control" name="a">
    </div>


<input type="submit">
    </form>
   </div>
</body>
</html>